designs/services/addIncidentService.json
[
    {
        "id": "sd_GCX04puklLWjGPyI",
        "type": "tab",
        "createdDate": "2021-03-11T08:54:16.768Z",
        "relativeParentPath": "",
        "label": "addIncidentService",
        "disabled": false,
        "info": "",
        "generateNext": true,
        "serviceName": "addIncidentService"
    },
    {
        "id": "sd_UynFHp3LuVM6xRkl",
        "type": "Start",
        "z": "sd_GCX04puklLWjGPyI",
        "viewType": "common",
        "nodeType": "start",
        "name": "addIncidentClientService",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "incidentAddData",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [
            {
                "key": "incidentAddresponse",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "accept_bh": false,
        "functionName": "addIncidentClientService",
        "category": "General",
        "__n_excludedFromValidation__": {},
        "x": 100,
        "y": 120,
        "wires": [
            [
                "sd_M8QXMO9DkjugFFiN"
            ]
        ],
        "generateNext": true,
        "serviceName": "addIncidentService"
    },
    {
        "id": "sd_M8QXMO9DkjugFFiN",
        "type": "Script",
        "z": "sd_GCX04puklLWjGPyI",
        "viewType": "common",
        "nodeType": "flow",
        "name": "addIncidentScript",
        "script": "console.log('Client Service Response');\n//console.log(bh.input.incidentAddData);\n\nbh.local.requestData = {\n    \"subject\": bh.input.incidentAddData.subject,\n    \"priority\": parseInt(bh.input.incidentAddData.priority),\n    \"decription\": bh.input.incidentAddData.description,\n    \"incidentDate\": bh.input.incidentAddData.incidentDate\n}\n\nconsole.log(bh.local.requestData);",
        "functionName": "addIncidentScript",
        "category": "Function",
        "__n_excludedFromValidation__": {},
        "x": 245,
        "y": 120,
        "wires": [
            [
                "sd_zERJGqxzu2TaUogw"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "addIncidentService"
    },
    {
        "id": "sd_GugvvQ52rlf5mpvJ",
        "type": "Log",
        "z": "sd_GCX04puklLWjGPyI",
        "viewType": "client",
        "nodeType": "flow",
        "name": "addIncientServiceLog",
        "outputs": 0,
        "logObject": "bh.input.incidentAddData",
        "functionName": "addIncientServiceLog",
        "category": "General",
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "bh.input",
                "value": "incidentAddData",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "x": 525,
        "y": 40,
        "wires": [],
        "generateNext": false,
        "generated": true,
        "serviceName": "addIncidentService"
    },
    {
        "id": "sd_MgnRi9qIK2HapX1k",
        "type": "Start",
        "z": "sd_GCX04puklLWjGPyI",
        "viewType": "common",
        "nodeType": "start",
        "name": "getIncidentData",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "inputData",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [
            {
                "key": "outPutData",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "accept_bh": false,
        "functionName": "getIncidentData",
        "category": "General",
        "__n_excludedFromValidation__": {},
        "x": 105,
        "y": 280,
        "wires": [
            [
                "sd_l0AB0xY5qNUavJht"
            ]
        ],
        "generateNext": true,
        "serviceName": "addIncidentService"
    },
    {
        "id": "sd_Hk0o9uCR2I0DoQmv",
        "type": "Script",
        "z": "sd_GCX04puklLWjGPyI",
        "viewType": "common",
        "nodeType": "flow",
        "name": "getIncidentDataScript",
        "script": "console.log(bh.local.result);\nbh.local.outPutData = bh.local.result.result.data",
        "functionName": "getIncidentDataScript",
        "category": "Function",
        "__n_excludedFromValidation__": {},
        "x": 445,
        "y": 280,
        "wires": [
            [
                "sd_IQaucsC5AlckrhqN"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_IQaucsC5AlckrhqN",
        "type": "Log",
        "z": "sd_GCX04puklLWjGPyI",
        "viewType": "client",
        "nodeType": "flow",
        "name": "getTableDataLog",
        "outputs": 0,
        "logObject": "bh.local.outPutData",
        "functionName": "getTableDataLog",
        "category": "General",
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "bh.local",
                "value": "outPutData",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "x": 605,
        "y": 281,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_l0AB0xY5qNUavJht",
        "type": "CallSSDApi",
        "z": "sd_GCX04puklLWjGPyI",
        "viewType": "client",
        "nodeType": "flow",
        "name": "getIncidentAPICall",
        "method": "get",
        "methodMappingObj": {},
        "urlValue": "/getIncidents",
        "url": "/getIncidents",
        "ret": "json",
        "retMappingObj": {},
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": ""
        },
        "resultMapping": "bh.local.result",
        "resultMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "inputVariables": [],
        "inputParams": [],
        "functionName": "getIncidentAPICall",
        "category": "HTTP",
        "__n_excludedFromValidation__": {},
        "x": 265,
        "y": 280,
        "wires": [
            [
                "sd_Hk0o9uCR2I0DoQmv"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_zERJGqxzu2TaUogw",
        "type": "CallSSDApi",
        "z": "sd_GCX04puklLWjGPyI",
        "viewType": "client",
        "nodeType": "flow",
        "name": "addIncidentCallAPI",
        "method": "post",
        "methodMappingObj": {},
        "urlValue": "/addIncidents",
        "url": "/addIncidents",
        "ret": "json",
        "retMappingObj": {},
        "reqBody": "bh.local.requestData",
        "reqBodyObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "requestData"
        },
        "resultMapping": "bh.local.result",
        "resultMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "inputVariables": [],
        "inputParams": [],
        "functionName": "addIncidentCallAPI",
        "category": "HTTP",
        "__n_excludedFromValidation__": {},
        "x": 400,
        "y": 120,
        "wires": [
            [
                "sd_GugvvQ52rlf5mpvJ",
                "sd_lChoZ3YEienrOYiS"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_lChoZ3YEienrOYiS",
        "type": "Switch",
        "z": "sd_GCX04puklLWjGPyI",
        "viewType": "common",
        "nodeType": "flow",
        "name": "addIncidentSwitch",
        "property": "result.statusCode",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.result.statusCode",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num",
                "gv": "200"
            },
            {
                "t": "eq",
                "v": "203",
                "vt": "num",
                "gv": "203"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "addIncidentSwitch",
        "category": "Function",
        "__n_excludedFromValidation__": {},
        "x": 585,
        "y": 120,
        "wires": [
            [
                "sd_bCnrKsp79ENDwVLe",
                "sd_IH3nhTPzAxKWEs0z"
            ],
            [
                "sd_IH3nhTPzAxKWEs0z"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_IH3nhTPzAxKWEs0z",
        "type": "SnackBar",
        "z": "sd_GCX04puklLWjGPyI",
        "viewType": "client",
        "nodeType": "flow",
        "name": "addIncodentSnackbar",
        "message": {
            "type": "bh.local",
            "value": "result.result.message"
        },
        "action": {
            "type": "str",
            "value": ""
        },
        "duration": {
            "type": "num",
            "value": "2000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "addIncodentSnackbar",
        "category": "General",
        "__n_excludedFromValidation__": {},
        "x": 765,
        "y": 160,
        "wires": [
            []
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_bCnrKsp79ENDwVLe",
        "type": "Navigation",
        "z": "sd_GCX04puklLWjGPyI",
        "viewType": "client",
        "nodeType": "flow",
        "name": "addIncidentNavigation",
        "path": "/incidentList",
        "functionName": "addIncidentNavigation",
        "category": "General",
        "__n_excludedFromValidation__": {},
        "x": 760,
        "y": 60,
        "wires": [
            []
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_jSfI0INXNqRDopkt",
        "type": "SnackBar",
        "z": "sd_GCX04puklLWjGPyI",
        "viewType": "client",
        "nodeType": "flow",
        "name": "editIncodentSnackbar",
        "message": {
            "type": "bh.local",
            "value": "result.result.message"
        },
        "action": {
            "type": "str",
            "value": ""
        },
        "duration": {
            "type": "num",
            "value": "2000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "editIncodentSnackbar",
        "category": "General",
        "__n_excludedFromValidation__": {},
        "x": 685,
        "y": 500,
        "wires": [
            []
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_pH2jTbHOOJE6D6sV",
        "type": "CallSSDApi",
        "z": "sd_GCX04puklLWjGPyI",
        "viewType": "client",
        "nodeType": "flow",
        "name": "editIncidentCallAPI",
        "method": "post",
        "methodMappingObj": {},
        "urlValue": "/updateIncidents",
        "url": "/updateIncidents",
        "ret": "json",
        "retMappingObj": {},
        "reqBody": "bh.local.requestData",
        "reqBodyObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "requestData"
        },
        "resultMapping": "bh.local.result",
        "resultMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "inputVariables": [],
        "inputParams": [],
        "functionName": "editIncidentCallAPI",
        "category": "HTTP",
        "__n_excludedFromValidation__": {},
        "x": 400,
        "y": 500,
        "wires": [
            [
                "sd_chBgwReT0Cv1qzbZ",
                "sd_jSfI0INXNqRDopkt"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_KZZQFkyMiPQvxUDT",
        "type": "Script",
        "z": "sd_GCX04puklLWjGPyI",
        "viewType": "common",
        "nodeType": "flow",
        "name": "editIncidentScript",
        "script": "console.log('Client Service Response');\n\nbh.local.requestData = {\n    \"subject\": bh.input.incidentAddData.subject,\n    \"priority\": parseInt(bh.input.incidentAddData.priority),\n    \"id\": parseInt(bh.input.incidentAddData.id),\n    \"decription\": bh.input.incidentAddData.description,\n    \"incidentDate\": bh.input.incidentAddData.incidentDate\n}\n",
        "functionName": "editIncidentScript",
        "category": "Function",
        "__n_excludedFromValidation__": {},
        "x": 245,
        "y": 500,
        "wires": [
            [
                "sd_pH2jTbHOOJE6D6sV"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_chBgwReT0Cv1qzbZ",
        "type": "Log",
        "z": "sd_GCX04puklLWjGPyI",
        "viewType": "client",
        "nodeType": "flow",
        "name": "editIncientServiceLog",
        "outputs": 0,
        "logObject": "bh.input.incidentAddData",
        "functionName": "editIncientServiceLog",
        "category": "General",
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "bh.input",
                "value": "incidentAddData",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "x": 525,
        "y": 420,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_3So749lTxU21GAms",
        "type": "Start",
        "z": "sd_GCX04puklLWjGPyI",
        "viewType": "common",
        "nodeType": "start",
        "name": "editIncidentClientService",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "incidentAddData",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [
            {
                "key": "incidentAddresponse",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "accept_bh": false,
        "functionName": "editIncidentClientService",
        "category": "General",
        "__n_excludedFromValidation__": {},
        "x": 100,
        "y": 500,
        "wires": [
            [
                "sd_KZZQFkyMiPQvxUDT"
            ]
        ],
        "generateNext": true,
        "serviceName": "addIncidentService"
    },
    {
        "id": "sd_zzbfenDtFy0fRoP0",
        "type": "SnackBar",
        "z": "sd_GCX04puklLWjGPyI",
        "viewType": "client",
        "nodeType": "flow",
        "name": "deleteIncodentSnackbar",
        "message": {
            "type": "bh.local",
            "value": "result.result.message"
        },
        "action": {
            "type": "str",
            "value": ""
        },
        "duration": {
            "type": "num",
            "value": "2000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "deleteIncodentSnackbar",
        "category": "General",
        "__n_excludedFromValidation__": {},
        "x": 605,
        "y": 860,
        "wires": [
            []
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_DytwpO6nkDhWznQf",
        "type": "CallSSDApi",
        "z": "sd_GCX04puklLWjGPyI",
        "viewType": "client",
        "nodeType": "flow",
        "name": "deleteIncidentCallAPI",
        "method": "delete",
        "methodMappingObj": {},
        "urlValue": "/deleteIncidents",
        "url": "/deleteIncidents",
        "ret": "json",
        "retMappingObj": {},
        "reqBody": "bh.local.requestData",
        "reqBodyObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "requestData"
        },
        "resultMapping": "bh.local.result",
        "resultMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "inputVariables": [],
        "inputParams": [],
        "functionName": "deleteIncidentCallAPI",
        "category": "HTTP",
        "__n_excludedFromValidation__": {},
        "x": 400,
        "y": 780,
        "wires": [
            [
                "sd_m7lMyhW90f7qFJ3n",
                "sd_zzbfenDtFy0fRoP0"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_m7lMyhW90f7qFJ3n",
        "type": "Log",
        "z": "sd_GCX04puklLWjGPyI",
        "viewType": "client",
        "nodeType": "flow",
        "name": "deleteIncientServiceLog",
        "outputs": 0,
        "logObject": "bh.input.incidentAddData",
        "functionName": "deleteIncientServiceLog",
        "category": "General",
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "bh.input",
                "value": "incidentAddData",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "x": 605,
        "y": 680,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_IRgdKTu7cwqhjj75",
        "type": "Script",
        "z": "sd_GCX04puklLWjGPyI",
        "viewType": "common",
        "nodeType": "flow",
        "name": "deleteIncidentScript",
        "script": "console.log('Client Service Response');\n\nbh.local.requestData = {\n    \"id\": parseInt(bh.input.incidentAddData)\n}\n",
        "functionName": "deleteIncidentScript",
        "category": "Function",
        "__n_excludedFromValidation__": {},
        "x": 245,
        "y": 780,
        "wires": [
            [
                "sd_DytwpO6nkDhWznQf"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_CLl2RLLgPQlAKZ1u",
        "type": "Start",
        "z": "sd_GCX04puklLWjGPyI",
        "viewType": "common",
        "nodeType": "start",
        "name": "deleteIncidentClientService",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "incidentAddData",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [
            {
                "key": "incidentAddresponse",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "accept_bh": false,
        "functionName": "deleteIncidentClientService",
        "category": "General",
        "__n_excludedFromValidation__": {},
        "x": 100,
        "y": 780,
        "wires": [
            [
                "sd_IRgdKTu7cwqhjj75"
            ]
        ],
        "generateNext": true,
        "serviceName": "addIncidentService"
    }
]
